body {
    font-family: 'Quicksand','Poppings', sans-serif;
    background: linear-gradient(180deg, #ffe6f3, #ffd6d4);
    background-attachment: fixed;
}

.card {
    background: rgba(255,255,255,0.65);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    box-shadow: 0 4px 16px rgba(255,160,200,0.3);
    border: 1px solid rgba (25,180,220,0.5);
}

.title-gradient {
    background: linear-gradient(90deg, #ff8ac9,#ffacd9);
    -webkit-background-clip: text;
    color: transparent;
    
}